.vs
MebelOnline.Server/bin
MebelOnline.Server/obj
mebelonline.client/obj
MebelOnline.Db/bin
MebelOnline.Db/obj
MebelOnline.Server/MebelOnline.Server.csproj.user
MebelOnline.Server/MebelOnline.Server.csproj.user
MebelOnline.Server/Properties/PublishProfiles
mebelonline.client/mebelonline.client.esproj.user
MebelOnline.Core/bin
MebelOnline.Core/obj
MebelOnline.Core.Tests/bin
MebelOnline.Core.Tests/obj
MebelOnline.Server.Tests/bin
MebelOnline.Server.Tests/obj
mebelonline.client/test-results/
mebelonline.client/playwright-report/
mebelonline.client/blob-report/
mebelonline.client/playwright/.cache/
