.vs
MebelOnline.Server/bin
MebelOnline.Server/obj
mebelonline.client/obj
MebelOnline.Db/bin
MebelOnline.Db/obj
MebelOnline.Server/MebelOnline.Server.csproj.user
MebelOnline.Server/MebelOnline.Server.csproj.user
